.flight-corridor-list-table {
     max-height: 534px;
     overflow-y: scroll;

     &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
     }

     &::-webkit-scrollbar-track {
          background: #ccc;
          border-radius: 10px;
     }

     &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 10px;
     }

     &::-webkit-scrollbar-thumb:hover {
          background: #555;
     }
     table {
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;

          tr {
               &:hover {
                    background-color: #3f3f3f;
               }
          }
          & tr,
          th,
          td {
               border: 1px solid black;
               min-height: 55px;
          }

          &th,
          td {
               padding: 7px;
          }
     }
}
