.order-wrapper {
     display: flex;
     height: 100%;
     display: flex;
     flex-direction: column;

     .order-overview {
          height: 30%;
          gap: 15px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          font-weight: bold;

          .order-stats {
               border: 1px solid #ccc;
               border-radius: 3px;
               width: 35%;
               display: flex;
               // flex-direction: column;
               padding: 10px;
               height: 100%;
               align-items: center;

               .stat-info {
                    font-size: 35px;
                    height: 60%;
               }
               .stat-field {
                    font-size: 20px;
                    height: 40%;
               }
          }
          .order-count {
               border: 1px solid #ccc;
               border-radius: 3px;
               width: 30%;
               font-size: 52px;
               display: flex;
               flex-direction: row;
               // align-items: flex-end;
               padding: 12px;
               height: 57%;
               .order-label-stats {
                    display: flex;
                    flex-direction: column;
               }
          }
     }

     .order-list {
          padding-top: 20px;
          height: 70%;
          margin-top: 30px;

          .table-order {
               max-height: 534px;
               overflow-y: scroll;

               &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
               }

               &::-webkit-scrollbar-track {
                    background: #ccc;
                    border-radius: 10px;
               }

               &::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 10px;
               }

               &::-webkit-scrollbar-thumb:hover {
                    background: #555;
               }
               table {
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;

                    tr {
                         &:hover {
                              background-color: #3f3f3f;
                         }
                    }
                    &tr,
                    th,
                    td {
                         border: 1px solid black;
                    }

                    &th,
                    td {
                         padding: 7px;
                    }
               }
          }
     }
}
