.sidebar {
     width: 20%;
     border-right: 1px solid #ccc;
     display: flex;
     flex-direction: column;
     height: 100vh;

     .profile-card {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          margin: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
          order: 2;
          margin-top: auto;
          &:hover {
               background-color: #f5f5f5;
          }
          .profile-info {
               display: flex;
               flex-direction: column;
               .profile-name {
                    font-weight: 600;
               }
          }
     }

     .sidebar-item {
          border-bottom: 1px solid #ccc;
          cursor: pointer;
          font-size: 22px;
          padding: 7px;
          order: 1;
          &:hover {
               background-color: #ccc;
          }
     }
}
