.iconMapStyle__topo {
     background-image: url("../assets/map_style/ICON-Topo.svg");
     width: 20px;
}

.iconMapStyle__satelite {
     background-image: url("../assets/map_style/ICON-ve\ tinh.svg");
     width: 20px;
}

.iconMapStyle__heatmap {
     background-image: url("../assets/map_style/ICON-nhiet.svg");
     width: 20px;
}

.iconMapStyle__default {
     background-image: url("../assets/map_style/ICON-default.svg");
     width: 20px;
}

.iconMapStyle__3d {
     background-image: url("../assets/map_style/ICON-3d.svg");
     width: 20px;
}