.FormTrack {
     top: 7%;
     left: 2%;
     position: absolute;
     z-index: 99;
     &-FormInput {
          align-items: center;
          display: flex;
          flex-direction: row;
          & > label {
               width: 30%;
               height: 100%;
               padding-left: 8px;
          }
          & > input {
               width: 70%;
               height: 100%;
          }
     }
}
