.loginContainer {
     height: 100vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 16px;
}

.logo {
     width: 64px;
     margin-bottom: 24px;
}

.card {
     border-radius: 8px;
     padding: 32px;
     text-align: center;
     max-width: 400px;
     width: 100%;
}

.title {
     font-weight: 500;
     font-size: 2rem;
}

.loginButton {
     border-radius: 4px;
     padding: 12px 0;
     font-size: 1rem;
}
