.customRenderRow {
    .iconBox {
        border: 1px solid black;
        background: white;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 16px;
        text-align: center;
        vertical-align: top;
        font-size: 19px;
        position: relative;
        box-sizing: border-box;
        margin-top: 3px;
        cursor: pointer;
        z-index: 12;
    }

    .iconBoxChild {
        border: 1px solid black;
        background: white;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 16px;
        text-align: center;
        vertical-align: top;
        font-size: 19px;
        position: relative;
        box-sizing: border-box;
        margin-top: 3px;
        cursor: pointer;
        z-index: 12;
    }

    .iconBoxChild::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 1px;
        top: 50%;
        border-bottom: 1px solid black;
        left: -15px;
        background: transparent;
    }

    .horizontal-lineSolid {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        position: relative;
        margin-top: 7px;
    }

    .horizontal-lineSolid::after {
        position: absolute;
        content: "";
        width: 35px;
        height: 1px;
        background: transparent;
        top: 25%;
        border-bottom: 1px solid black;
        left: -15px;
    }

    .horizontal-lineSolid::before {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        z-index: 1;
        background: #000;
        top: 2px;
        left: 13px;
        border-radius: 50%;
    }

    .horizontal-lineDashed {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        position: relative;
        margin-top: 7px;
    }

    .horizontal-lineDashed::after {
        position: absolute;
        content: "";
        width: 35px;
        height: 1px;
        background: transparent;
        top: 25%;
        border-bottom: 1px dashed black;
        left: -15px;
    }

    .vartical-lineSolid {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        position: relative;
        margin-top: 4px;
    }

    .vartical-lineSolid::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 61px;
        background: transparent;
        left: 9px;
        top: -52px;
        border-left: 1px solid black;
    }

    .vartical-lineDashed {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        position: relative;
        margin-top: 4px;
    }

    .vartical-lineDashed::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 59px;
        background: transparent;
        left: 9px;
        top: -51px;
        border-left: 1px dashed black;
    }

    .box {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        position: relative;
        margin-top: 4px;
    }
}
    