// .Toastify__toast-container {
//      position: absolute !important;
//      z-index: 99999 !important;
// }

// .toast-notify-container {
//      margin-top: 50px;
// }

// .toast-warning-container {
//      margin-bottom: 30px;
//      margin-right: 50px;
// }

.Toastify__toast {
     font-family: "Inter" !important;
     //  background: #383838 !important;
     //  color: #ffffff !important;
     //  min-height: 40px !important;
     //  .toast-message-container {
     //       flex-direction: column;
     //  }
     //  .text {
     //       word-break: break-word;
     //       display: flex;
     //       width: 100%;
     //  }
     //  .mess {
     //       width: 90%;
     //       padding: 5px;
     //  }
     //  .ic {
     //       display: inline-block;
     //       width: 10%;
     //       height: 30px;
     //       background-size: contain !important;
     //       background-repeat: no-repeat !important;
     //       cursor: pointer;
     //       transition: all 0.2s ease-out;
     //  }
     //  .text-center {
     //       align-items: center;
     //       text-align: center;
     //  }
}